@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.breadCrumbs {
  color: $gray;
  padding: $space-s 0;
  flex-wrap: wrap;
  font-size: 14px;
  background: $ligth-gray;
  .breadCrumbsWrapper {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    @include flex(center, flex-start);
    div {
      @include flex(center, center);
      &:last-child {
        color: $dark-gray;
      }
    }
  }
}