@mixin flex($alignItems: stretch, $justifyContent: flex-start, $direction: row) {
  display: flex;
  align-items: $alignItems;
  justify-content: $justifyContent;
  flex-direction: $direction;
}

@mixin for-size ($size) {
  @if $size == phone {
    @media (max-width: $phone-size) { @content; }
  } @else if $size == tablet {
    @media (max-width: $tablet-size) { @content; }
  }
}
