//Font sizes
$font-s: 46px;
$font-s: 28px;
$font-s: 24px;
$font-s: 18px;
$font-s: 16px;
$font-s: 14px;


// Colors
$yellow: #FFE600;
$black: #333;
$dark-gray: #666;
$gray: #999;
$ligth-gray: #EEE;
$blue: #3483FA;


// Image size
$search-width: 180px;
$item-width: 680px;

//margin & padding
$space: 32px;
$space-s: 16px;